.titulo{
    color: black !important;
}
main{
    background-color: rgb(255, 255, 255);
}

.quadrado{
    padding: 40px;
    margin-bottom: 10px;
}

.carrousel-imagem{
    height: 400px;
}
