.titulo{
    color: black !important;
}
main{
    background-color: rgba(255, 255, 255);
}

.quadrado{
  width: 250px;
    padding: 40px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.carrousel-imagem{
    height: 315px;
    left: 28px;
}


.sleeve {
  flex: 1 1 0;
  margin: auto;
}

.credit-card {
  margin: 20px;
  display: flex;
  flex-shrink: 0;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 1px 1px 0 rgba(255,255,255,.3);
  background-color: rgb(32 32 32);
  width: 337px;
  height: 212px;
}
  
  * {
    position: relative;
  }
  
  .selected {
    transform: scale(1.1);
    z-index: 2;
    opacity: 1;
    box-shadow: 0 2px 10px rgba(0,0,0,.5), 0 10px 50px 5px rgba(0,0,0,.25), inset 1px 1px 0 rgba(255,255,255,.3);
    background-color: rgb(32 32 32);
  
  }
  
  
  :before {
    content: '';
    border-radius: inherit;
    position: absolute;
    display: block;
    top: 0;left: 0;bottom: 0;right: 0;
  }


.card-type, .card-company {
  text-align: right;
  text-transform: uppercase;
  margin: 10px;
  color: rgba(0,0,40,.5);
}

.card-company {
  font-family: Georgia, Garamond;
  box-shadow:  inset 1px 0 0 rgba(255,255,255,.3);
  font-weight: normal;
  padding: 10px;
  background: rgb(255, 255, 255);
  color: rgb(32 32 32);
  letter-spacing: 1px;
  text-align: center;
  margin: 15px 0;
}

.card-number, .card-expire, .card-holder {
  display: flex;
  margin: 5px;
  justify-content: center;
  font-family: monospace;
  font-size: 24px;
  color: rgba(255,255,255,.8);
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  
}

.digit-group {
    margin: 5px;
  }

.card-expire, .card-holder {
  font-size: 16px;
  justify-content: flex-start;
  padding: 0 20px;
  
  
}

.card-text {
    font-size: 12px;
    font-family: sans-serif;
    color: #000;
    color: rgb(255, 255, 255);
    text-shadow: none;
    margin: 3px;
    margin-left: 10px;
  }

.card-type {
  margin-top: auto;
  font-size: 14px;
}
