<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>App</title>


    <link href="../resources/css/styles.css" rel="stylesheet" />
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html">App</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Procurar por..." aria-label="Search"
                    aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Perfil</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="login.html">Sair</a>
                </div>
            </li>
        </ul>

    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Menu</div>
                        <a class="nav-link" href="../index.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Home
                        </a>
                        <div class="sb-sidenav-menu-heading">Opções</div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
                            aria-expanded="false">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            Jogos
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="collapse" id="collapseUsers" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="game/game-list.html">Listar</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logado como:</div>
                    Tiburssinho
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Criar jogo</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Lista de jogos</li>
                        <li class="breadcrumb-item active">Criar</li>
                    </ol>

                    <div class="row">

                        <div class="mb-2 col-12">

                            <div class="mb-2 card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="nome">Nome</label></div>
                                        <div class="col-sm-9">
                                            <input type="text" id="nome" class="form-control" value="Jogo X">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="desenvolvidoPor">Desenvolvido por</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" id="desenvolvidoPor" class="form-control"
                                                value="Empresa X">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="genero">Gênero</label></div>
                                        <div class="col-sm-9">

                                            <select class="form-control" id="genero">
                                                <option selected>Selecione...</option>
                                                <option>MMORPG</option>
                                                <option>Combate</option>
                                                <option>Ação</option>
                                                <option>Corrida</option>
                                            </select>

                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="plataforma">Plataforma</label></div>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="plataforma">
                                                <option selected>Selecione...</option>
                                                <option>PS4</option>
                                                <option>XBox One</option>
                                                <option>PC</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="dataLancamento">Data lançamento</label></div>
                                        <div class="col-sm-9">
                                            <input type="date" id="dataLancamento" class="form-control"
                                                value="20/01/2020">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="descricao">Descrição</label></div>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="descricao" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="imagemPrincipal">Imagem principal</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="imagemPrincipal">
                                                <label class="custom-file-label" for="imagemPrincipal">Escolha a
                                                    imagem</label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="imagemPrincipal">Imagens do carrossel</label>
                                        </div>

                                        <div class="col-sm-9">
                                            <div class="row">

                                                <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
                                                    <div class="card">
                                                        <img class="card-img-top"
                                                            src="https://via.placeholder.com/200/200">
                                                        <div class="card-body">
                                                            <h5 class="card-title text-center">Imagem 1</h5>

                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input"
                                                                    id="imagemCarrossel01">
                                                                <label class="custom-file-label"
                                                                    for="imagemCarrossel01">Buscar</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
                                                    <div class="card">
                                                        <img class="card-img-top"
                                                            src="https://via.placeholder.com/200/200">
                                                        <div class="card-body">
                                                            <h5 class="card-title text-center">Imagem 2</h5>

                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input"
                                                                    id="imagemCarrossel02">
                                                                <label class="custom-file-label"
                                                                    for="imagemCarrossel02">Buscar</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
                                                    <div class="card">
                                                        <img class="card-img-top"
                                                            src="https://via.placeholder.com/200/200">
                                                        <div class="card-body">
                                                            <h5 class="card-title text-center">Imagem 3</h5>

                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input"
                                                                    id="imagemCarrossel03" lang="pt">
                                                                <label class="custom-file-label"
                                                                    for="imagemCarrossel03">Buscar</label>
                                                            </div>



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-2">
                                <button class="btn btn-primary col-12">Criar</button>
                            </div>

                        </div>

                    </div>


                </div>
            </main>

            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; FAI - 2020</div>
                        <div>
                            <a href="#">Política de privacidade</a>
                            &middot;
                            <a href="#">Termos &amp; Condições</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="../resources/js/jquery/jquery-3.4.1.min.js"></script>
    <script src="../resources/js/popper/popper.min.js"></script>

    <script src="../resources/js/font-awesome/all.min.js"></script>

    <script src="../resources/js/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>

    <script src="../resources/js/scripts.js"></script>


</body>

</html>