<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>GamersBank - Extrato</title>

<script src="../resources/js/jquery/jquery-3.4.1.min.js"></script>

<link href="../resources/css/styles.css" rel="stylesheet" />
<link href="../resources/css/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet" />
<link href="../resources/css/estilo.css" rel="stylesheet">
<script src="../resources/js/font-awesome/all.min.js"></script>
</head>

<body>

	<div layout:fragment="body">
		<div class="container-fluid">
			<div class="row mb-4">
				<div class="col-md-2">
					<img style="width: 200px;" src="/resources/assets/img/sasuke.jpg"
						class="img-thumbnail">
				</div>

				<div class="col-md-10">
					<h1 class="mt-4">Ver Extrato</h1>
					<!--  <h3 th:text="${extrato.descricao}">Saldo: R$ 100,00</h3> -->
					<h3 th:text="${'Saldo: R$ ' + conta.saldoAtual}">Saldo: R$ 100,00</h3>
				</div>

			</div>

			<div class="row">

				<div class="col-12" th:each="extrato : ${extratos}">
					<div class="card">
						<div class="card-body">
							<h5>
								20/03/2021 <span style="color: red;" th:text="${extrato.valor}">-R$100,00</span>
							</h5>
							<p th:text="${extrato.descricao}">Compra Kabum</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<a type="submit" class="btn btn-primary"
			th:href="@{/conta/detail/{id} (id=${conta.id})}"><i></i> Voltar</a> 
			
			<a
			type="submit" class="btn btn-primary"
			th:href="@{/extrato/{id} (id=${conta.id})}"><i></i> Simular compra</a>

	</div>




</body>

</html>